
/* ----------------------NAVIGATION BAR ------------------*/

nav {
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    padding: 0px 45px 8px 45px;
    font-weight: 600;
    padding: 0px 45px 8px 45px;

}
    

a {
    text-decoration: none;
    font-family: "Raleway";
    color: #8198A8;

}

a:hover {
    color: #47545D;
    
}

/* ----------------------HEADER ----------------------------------*/

header {
    background-image: url("./images/home_header_bg.jpg");
    height: 35em;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    margin: 0 auto;

}
header h1 {
    font-family: "Raleway";
    font-weight: 400;
    color: white;
    position: relative;
    top: 6.5em;
    font-size: 1.9em;
    letter-spacing: 1vw;
    text-align:center;
}

header h3 {
    font-family: "Raleway";
    font-weight: 300;
    line-height: 0.5em;
    color: white;
    position: relative;
    top: 10.5em;
    text-align: center;
    
}







/* ---------------ARCHIVE W/ 3 Pictures... FIRST SECTION---------------- */
body {
    margin: 0 
}

main h3 {
    font-family: "Raleway";
    text-align:center;
    color: #47545D;
    margin-top: 5em;
    margin-bottom: 1.5em;
}

section {
    text-align:center;
}

main h4 {
    font-family: "Raleway";
    color: #47545D;
    font-size: 1.2em;

    
}

.archive {
    display: flex;
    justify-content: space-around;
    /* -webkit-column-break-inside: avoid; */
    
}

section p {
    font-family: "Lato";
    color: #8198A8;
    font-size: 1em;

}


/* -----------------------READ MORE BUTTONS----------------------- */

button {
    font-family: "Raleway";
    padding: 0.6em 2.5em .6em 2.5em;
    background-color:transparent;
    border: 0.2em solid #47545D;
    margin-bottom: 4.5em;
    


}


button a {
    background-color: white;
    font-weight: 600;
    
}

section a {
    color: #6C767E;
}





.aboutMagazine {

    height: 26.5em;
    max-width: 100vw;
    background-color:#D6F1F5;
    text-align: center;
}


article {
    margin: 0 4em;
    
}


div h2 {
    font-family: "Raleway";
    color: #4C5A62;
    font-size: 1.25em;
    margin-top: 4.5em;
    padding: 3.5em 0 0 0;
    text-align: center;
}

section h3 {
    margin-top: .5em;
    color: #4C5A62;
    font-size: 0.9em;
    font-weight: bold;
}


.aboutP {
    margin: 2em 4em;
    color: #4C5A62;
    font-size: 0.9em; 
}




main section {
    max-width: 400px;
}


/* -------------------------Photo GALLERY PLUS ISSUE TWENTY------------------------- */
h1 {
    font-family: "Raleway";
    color: #4c5a62;
    font-size: 1.29em;
    margin-top: 4.8em;
    text-align: center;
    font-weight: bold;
}
div h3 {
    margin-top: 2em;
    color: #4c5a62;
    font-size: 1.1em;
    font-weight: bold;
}

.visualGuide {
    display:inline-block;
    column-count: 3;
    column-width:350px;
    column-gap: 15px;
    max-width:1100px;
    padding-left: 16em;
    margin: 64px auto;
    padding-bottom: 0;
    /* -webkit-column-break-inside: avoid; */
}


.visualGuide img {
    margin-bottom: 16px;
    margin-bottom: 1rem;
    max-width: 100%;
}


.topLeftImg {
    /* margin-left: 9em; */
}

.bttmLeftImg {
    /* margin-left: 9em; */
}

.bttmRightImg {
   
}




.getInTouch form {
    display: flex;
    flex-direction: column;
    height: 55vh;
}

.basicInfo {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 2em 15em;
    
}

.name {
    width: 20%;
    font-family: "Raleway";
    padding: 0.6em 2.5em .6em 2.5em;
    background-color:transparent;
    border: 0.2em solid #47545D;
}

.email {
    width: 20%;
    font-family: "Raleway";
    padding: 0.6em 2.5em .6em 2.5em;
    background-color:transparent;
    border: 0.2em solid #47545D;
}

.subject {
    width: 20%;
    font-family: "Raleway";
    padding: 0.6em 2.5em .6em 2.5em;
    background-color:transparent;
    border: 0.2em solid #47545D;
}

.message {
    height: 25em;
    font-family: "Raleway";
    padding: 0.6em 2.5em .6em 2.5em;
    background-color:transparent;
    border: 0.2em solid #47545D;
    margin: 0 20em;
}


.submit {
    margin: 3em 20em;
    background-color: black;
    color: white;

    
}


footer {
    height: 200px;
    background-color: #d4f2f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.9em;
}

hr {
    color: black;
    margin-top: 2em;
}

div.logo {
    text-align: center;
    
}

i {
    font-size: 1.4em;
    padding-bottom: 2em;
    margin: 0 1em;

}

form input {
    font-family: 'Raleway';

}

.button {
    width: 10em;
    background-color: #D4f2f5;
    font-family:"Raleway";
    padding: 0.5em 0.4em 0.4em 0.4em;
    border: 0.1em solid black;
    margin-left: 0.5em;
}

#email {
    width: 21em;
    font-family: "Raleway";
    padding: 0.5em 0.4em 0.4em 0.4em;
    margin-right: 0.5em;
    text-align:center;
}


/*-------------------- MEDIA QUERIES-------------------- */

@media screen and (max-width: 1335px) {
    .archive {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

main section {
        max-width: 100%;
        
    }
.visualGuide {
     margin-right: 10em;
     padding-left: 10em;

}

.getInTouch {
    display: flex;
    flex-direction: column;

}

.basicInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 11.1em;
    margin-right: 8.5em;
    
    padding-left:42px;


}

.name {
    width: 85%;
    margin-bottom:2em

}

.email {
    width: 85%;
    margin-bottom: 2em;

}

.subject {
    width: 85%;
    margin-bottom: 2em;
   
}

.message {
    height: 16em;
}

footer {
    width: 70%;
    margin-left: 11.5em;
}

@media screen and (max-width: 1034px) {
    .visualGuide {
        text-align: center;
    }

    .basicInfo {
        margin: 0 11.9em;
        padding-left: 1.7em;
    }
}

}