
/* image re-size */

img {
    max-width: 100%;
}


/* Header */

nav {

    background-color: white;
    
    
}

a {
    text-decoration: none;
    color: #8198A8;
    
}

li {
    
    font-family: Raleway;
    

}

header h1 {
    font-family: Raleway;
    position: relative;
    color: white;
    text-align: center;
    top: 140px; 
    letter-spacing: 15px;

    
    
    
    


}

header {
    background-image: url("./images/blog_header_bg.jpg");
    background-size: cover;
    height: 330px;
    width: 100%;
    
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0px 45px 8px 45px;
    font-weight: 900;
    list-style-type: none;
}

/* Main Section/Body */
main {
    min-width: 100px;
    margin: 0 100px 0 100px;
}

section {
    display: flex;
    flex-direction: column;
    

}

section > h4 {
    font-size: 2.4em;
    line-height: 0.1px;
    font-family: Raleway;
    margin: 40px 0 70px 0;
    transform: scaleY(0.9);
    color: #47545D;


}


section > h3 {
    font-size: 1em;
    font-size: 1.5em;
    font-family: Raleway;
    margin: 40px 0 0 0;
    color: #47545D;
}

.cacti img {

    object-fit: fill;
}


/* About Section */

p {
    color: #8198A8;
}

.about img {
    align-self: flex-start;
}

/* footer section */

footer {
    height: 170px;
    background-color: #D4F2F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;

}

footer p {
    text-align: center;
    font-size: 0.9em;

}



hr {
    color: black;
    margin-top: 30px;
}

div.logo{
    text-align: center;
    display: relative;
    
    
}

i {
    font-size: 30px;
    padding-bottom: 20px;
}




